 table, th, td {
    border: 1px solid black;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  table{
    border:solid black;
    width: 50%;
    height: 100%;
  }
  table {
    border-collapse: collapse;
  } 
